.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto;
  background-color: #000000;
  height: 100vh;
  padding: 20px;
}
.not-found-img {
  width: 80%;
}
.not-found-title {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.not-found-description {
  font-size: 14px;
  color: #cbd5e1;
}

@media screen and (min-width: 768px) {
  .not-found-img {
    width: 26%;
  }
  .not-found-title {
    font-size: 26px;
  }
  .not-found-description {
    font-size: 16px;
  }
}
